{% extends 'main/base.html.twig' %}

{% block body %}

    <h1>{{ title }}</h1>

    <a href="{{ path('registration') }}">Registration</a><br>
    <a href="{{ path('admin_home_page') }}">Admin</a>

    <a href="{{ path('registration') }}" class="btn btn-outline-primary" id="reg">Registration</a>


{% endblock %}